<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510479729330-fgb0n3kk4v9rocqmb03lk457ju3qjfmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510479729330-fgb0n3kk4v9rocqmb03lk457ju3qjfmj</string>
	<key>API_KEY</key>
	<string>AIzaSyAVFJpjY1udgirkC_ef1g_81UF0d_yZaVY</string>
	<key>GCM_SENDER_ID</key>
	<string>510479729330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perryasibeybonsu.foko</string>
	<key>PROJECT_ID</key>
	<string>foko-f6472</string>
	<key>STORAGE_BUCKET</key>
	<string>foko-f6472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510479729330:ios:cf12a6804ce872e35d3fab</string>
	<key>DATABASE_URL</key>
	<string>https://foko-f6472.firebaseio.com</string>
</dict>
</plist>